<ion-content class="vertical-align-content">
  <ion-row>
    <ion-col col-12 col-sm style="text-align: center">
      <div padding>
      <button ion-button (click)="listAds()" color="dark" full round><ion-icon ios="ios-search"  md="md-search"></ion-icon>&nbsp; Recherche de colocation</button>
      </div>
    </ion-col>
    <ion-col col-12 col-sm style="text-align: center">
      <div padding>
      <button *ngIf="!hasFlatsharing" ion-button (click)="addAd()" color="dark" full round><ion-icon ios="ios-add" md="md-add"></ion-icon>&nbsp; Ajouter une annonce</button>
    </div>
    </ion-col>
    <ion-col col-12 col-sm style="text-align: center">
      <div padding>
    <button *ngIf="!hasFlatsharing" ion-button color="dark" (click)="flatsharing()" full round> <ion-icon ios="ios-home"  md="md-home"></ion-icon>&nbsp; Ma colocation </button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
