.vertical-align-content > *
{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
