<ion-header>

  <ion-navbar>
    <ion-title>Tâches ménagères</ion-title>
  </ion-navbar>

    <ion-toolbar color="light">
        <ion-segment [(ngModel)]="choice">
            <ion-segment-button value="all">
                Toutes Les Tâches
            </ion-segment-button>
            <ion-segment-button value="mine" (click)="reqGetTaskofUser(currentUser)">
                Mes Tâches
            </ion-segment-button>
            <ion-segment-button value="create">
                <ion-icon name="create"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div [ngSwitch]="choice">
        <ion-list *ngSwitchCase="'all'">
            <ion-list>


                <ion-item *ngFor="let task of done">
                    <ion-label style="text-align: left">{{task.Task}}</ion-label>
                    <ion-label style="text-align: center">{{allAssignee.get(task.Task)}}</ion-label>
                    <ion-checkbox [(ngModel)]="task.Value"></ion-checkbox>
                </ion-item>

                <button align-items-center="" ion-button color="dark" (click)="reqDoTask()" style="text-align: center"  round>Supprimer ces tâches</button>
            </ion-list>
        </ion-list>
        <ion-list *ngSwitchCase="'mine'">
            <ion-list>
                <ion-item *ngFor="let task of taskOfCurrentuser">
                    <ion-label style="text-align: left">{{task}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-list>

        <ion-list *ngSwitchCase="'create'">

            <ion-list>
            <ion-item>
                <ion-label>Tâches ménagères</ion-label>
                <ion-select [(ngModel)]="tache">
                    <ion-option value="Vaisselle">Vaisselle</ion-option>
                    <ion-option value="Sortir les poubelles">Sortir les poubelles</ion-option>
                    <ion-option value="Ménage salle de bain">Ménage de la salle de bain</ion-option>
                    <ion-option value="Ménage cuisine">Ménage cuisine</ion-option>
                    <ion-option value="Ménage séjour">Ménage séjour</ion-option>
                    <ion-option value="Faire les courses">Faire les courses</ion-option>
                    <ion-option value="Chercher le courrier">Chercher le courrier</ion-option>
                    <ion-option value="Faire la lessive">Faire la lessive</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
            <form [formGroup]="form" (ngSubmit)="logForm()">
                <ion-input align-items-center="" text-center="" placeholder="Membre de la colocation" [(ngModel)]="form.membre" name="membre" formControlName="membre" type="text"></ion-input>
            <ion-row>
                <ion-col width-50 style="text-align: center">
                    <button ion-button type="submit" [disabled]="!form.valid" round>Assigner</button>
                </ion-col>
            </ion-row>
            </form>

        </ion-list>
    </div>

</ion-content>
